*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Lato", sans-serif;

}
html {
    min-width: 350px;
    margin: 1rem;
    --title:#d04f4f;
    --primary: #3282f7;
    --primaryDark: #2d6dcc;
    --secondary: #68d9a4;
    --secondaryDark: #5ab88c;
    --tertiary: #ed6454;
    --tertiaryDark: #c25549;
    --gray: #adadad;
    --lightGray: #e7e7e7;
    --darkGray: #c7bebe;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    padding: 2rem 0 1rem 0;
}
.search-section{
    margin: 0 1.5rem;
}
h1{
    color: var(--title);
}
form{
    position: relative;
}
label{
    position: absolute;
    top: 1.2rem;
    right: 1rem;
}

/*---------------------------------
-- Barre de recherche principale --
-----------------------------------*/

form input{
    width: 100%;
    height: 4.3rem;
    font-size: 1.15rem;
    padding-left: 1.5rem;
    border-radius: 5px;
    background-color: var(--lightGray);
    border: none;
}
::placeholder{
    opacity: 0.5;
}
.fa-solid.fa-magnifying-glass{
    font-size: 1.8rem;
}

/*--------
-- Tags --
----------*/

.tag-container{
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1rem;
}
.tag-container article{
    display: flex;
    gap: 1rem;
}
.tag{
    display: flex;
    align-items: center;
    height: 2.3rem;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
}
.tag div{
    padding-right: 1rem;
    font-size: 0.9rem;
}
.ingredients{
    background-color: var(--primary);
    margin-top: 1rem;
}
.appareils{
    background-color: var(--secondary);
}
.ustensils{
    background-color: var(--tertiary);
    margin-bottom: 1rem;
}

/*--------------------------
-- Bouton cancel des tags --
----------------------------*/

.cancel {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: inherit;
    border: 2px solid white;
}

.cancel::before {
    content: '\f00d';
    font-family: "FontAwesome";
}

.cancel:hover {
    color: var(--title);
    border: 2px solid var(--title);
    cursor: pointer;
}

/*--------------------
-- Menus déroulants --
----------------------*/

.dropdown{
    display: flex;
}
.dropdown-container{
    margin: 0 1.5rem;
}
.dropdown article {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.dropdown input {
    display: flex;
    margin: 0 1rem 0 0;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 170px;
    transition: width 0.2s ease-out;
    cursor: pointer;
}

.dropdown-chevron::before {
    position: absolute;
    top: 28px;
    right: 2rem;
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 1rem;
    display: inline-block;
    color: white;
    cursor: pointer;
    pointer-events: none;
}
.dropdown input::placeholder {
    opacity: 1;
    color: white;
}
.dropdown input.active::placeholder {
    opacity: 0.5;
}
.dropdown input:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
}
.dropdown input.active + .dropdown-chevron::before {
    transform: rotate(180deg);
}
.dropdown input.active {
    width: 650px;
    transition: width 0.2s ease-out;
}

.dropdown ul {
    position: absolute;
    top: 70px;
    display: none;
    width: 650px;
    max-height: 400px;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    list-style-type: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.dropdown ul::-webkit-scrollbar {
    width: 8px;
}

.dropdown ul::-webkit-scrollbar-track {
    background-color: inherit;
}

.dropdown ul::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

.dropdown ul::-webkit-scrollbar-thumb:hover {
    background-color: #ddd;
}

.dropdown ul.active{
    display: flex;
    z-index: 1;
}

/*-------------------------------
-- Boutons des menus déroulants --
---------------------------------*/

.button-ingredients{
    background-color: var(--primary);
}
.button-appareils{
    background-color: var(--secondary);
}
.button-ustensils{
    background-color: var(--tertiary);
}

/*-------------------------------
-- Listes des menus déroulants --
---------------------------------*/

.list-ingredients{
    background-color: var(--primary);
}

.list-appareils{
    background-color: var(--secondary);
}
.list-ustensils{
    background-color: var(--tertiary);
}

.list-ingredients li,
.list-appareils li,
.list-ustensils li {
    width: 33%;
    padding: 0.5rem;
}
.list-ingredients li:hover{
    background-color: var(--primaryDark);
    cursor: pointer;
    border-radius: 5px;
}

.list-appareils li:hover{
    background-color: var(--secondaryDark);
    cursor: pointer;
    border-radius: 5px;
}

.list-ustensils li:hover {
    background-color: var(--tertiaryDark);
    cursor: pointer;
    border-radius: 5px;
}
.hidden{
    display: none;
}

/*------------
-- Recettes --
--------------*/

.recipes-section{
    display: flex;
    flex-wrap: wrap;
}
.recipe-card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
}
.recipe-info-up{
    width: 380px;
    height: 180px;
    background-color: var(--darkGray);
    border-radius: 5px 5px 0 0;
}
.recipe-info-middle{
    display: flex;
    justify-content: space-between;
    background-color: var(--lightGray);
    padding: 1rem 1rem 0 1rem;
    width: 380px;
}
.recipe-info-down{
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 150px;
    padding: 1rem;
    background-color: var(--lightGray);
    border-radius: 0 0 5px 5px;
}
.recipe-info-right{
    position: relative;
    width: 50%;
    font-size: 12px;
}
.recipe-info-left{
    font-size: 12px;
}
.recipe-name{
    font-size: 18px;
    font-weight: normal;
}
.recipe-description{
    position: absolute;
    left: 0;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    width: 170px;
    background-color: var(--lightGray);
    transition: all 0.3s ease-out;

}
.recipe-description:hover {
    position: absolute;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    padding: 0.5rem;
    left: -200px;
    height: auto;
    width: 400px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-out;
}

.recipe-time{
    font-size: 18px;
    font-weight: bold;
    width: 30%;
    text-align: right;
}
.recipe-time::before{
    content: '\f017';
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    padding-right: 0.3rem;
}
.recipe-info-middle,
.recipe-info-down{
    cursor: pointer;
}
.recipes-found{
    position: relative;
    margin-top: 1rem;
}
.recipes-count{
    position: absolute;
    margin-left: 1.5rem;
}
